/build/lib/pyDFTutils/__init__.py
/build/*
/pyDFTutils.egg-info/PKG-INFO
*.pyc
/pyDFTutils.egg-info/SOURCES.txt
/pyDFTutils.egg-info/dependency_links.txt
/pyDFTutils.egg-info/requires.txt
/pyDFTutils.egg-info/top_level.txt
.gitignore
